version: '3.8'

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    ports:
      - '8200:8200'
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: 'root'
      VAULT_DEV_LISTEN_ADDRESS: '0.0.0.0:8200'
    cap_add:
      - IPC_LOCK

  vault-init:
    image: hashicorp/vault:latest
    container_name: vault-init
    depends_on:
      - vault
    environment:
      VAULT_ADDR: 'http://vault:8200'
      VAULT_TOKEN: 'root'
    entrypoint: sh -c "
      sleep 5;
      vault kv put secret/app password='vault-password' api_key='vault-api-key' app_env='production';
      "
